@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}
.displace{
    position: absolute;
    left: -10000000px;
}
body{
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
h1{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #121d31;
    color: aliceblue;
    font-size: 1.5em;
    padding: 0.8rem;
}
main{
    padding: 4.3rem 0.8rem;
}
.to-do-form{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding-bottom: 0.8rem;
    align-items: center;
}
#to-do-name, #submit{
    width: 100%;
    padding: 0.8rem;
    border: 2px solid #121d31;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: transparent;
    outline: none;
}
#date, #time{
    width: 100%;
    padding: 0.65rem;
    padding-left: 50%;
    border: 2px solid #121d31;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: #121d31;
    outline: none;
    color: #121d31;
    font-family: 'Roboto',sans-serif;
}

::-webkit-calendar-picker-indicator{
    background-color: aliceblue;
    /* padding: 0.5rem; */
    border-radius: 50%;
    cursor: pointer;
}
.date-time-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    /* align-content: space-evenly; */
    /* justify-content: center; */
}
.time-div, .date-div{
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    width: 100%;
}
.date-label, .time-label{
    position: absolute;
    color: aliceblue;
    font-weight: bold;
    font-size: 1.2em;
    left: 0.8rem;
    /* transform: translate(50%, 50%); */
}
#submit{
    background-color: rgb(0, 65, 16);
    border: rgb(0, 65, 16);
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
}
#submit:hover{
    opacity: 0.9;
}
#submit:active{
    opacity: 0.85;
}
.error-handling{
    display: none;
}


.to-dos{
    background-color: #121d31;
    height: fit-content;
    padding: 0.8rem;
    border-radius: 5px;
    margin-bottom: 0.8rem;
}

.to-dos p{
    font-size: 1.2em;
    color: aliceblue;
}

.to-dos button{
    background-color: #e11727;
    border: none;
    width: 100%;
    padding: 0.8rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    color: aliceblue;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}
.to-dos div{
    display: flex;
    justify-content: space-between;
}

.to-dos .date, .to-dos .time{
    display: inline;
}
footer figure{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}
.to-dos .remaining-time{
    font-size: 0.8em;
    padding-top: 0.4rem;
    color: #e11727;
}


@media(min-width: 650px){
    .to-do-form, .date-time-div{
        flex-direction: row;
        column-gap: 1rem;
    }
    /* .date-label, .time-label{
        position: absolute;
        left: -100000px;

    } */
    .date-div, .time-div{
        width: calc(50%-50px);
    }
}